.statGamePage {
  .right {
    .topRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;
      .col {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 46%;
        select {
          width: 100%;
          border: 0;
          padding: 15px 10px;
          border-radius: 10px;
          outline: 0;
        }

        .actionSection {
          .actionWrapper {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
            button {
              width: calc(50% - 7.5px);
              cursor: pointer;
              padding: 9px;
              font-size: 17px;
              border-radius: 10px;
              border: 0;
              background: #f6f4f4;
              border: 1px solid #1a313f63;
            }
          }
        }
      }
      .playerSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
          width: 100%;
          gap: 15px;
          .separator { 
            width: 1px; 
         
                        background: #d0c3c3;
                    }
          .detailWrapper {
            display: flex;
            width: 40%;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            > .rowInWrapper {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              > span:first-child {
                font-size: 18px;
              }
              > span:last-child {
                font-size: 15px;
                max-width: 60%;
                overflow-wrap: break-word;
                text-align: end;
              }
            }
          }
        }
      }
    }
  }
}
